.color-marron {
    color: maroon;
}
.color-movistar {
    color: rgb(0,0,255);
}
.color-yellow {
    color: #ff0;
}
.color-paypal {
    color: rgb(0,122,186);
}
.color-avantel {
    color: rgb(235,2,139);
}