* {
    margin: 0;
    padding: 0;
}
nav {
    background-color: rgb(45, 42, 239);
    transition: all .5s;
}
ul {
    list-style: none;
    text-align: right;
    cursor: pointer;
}
li {
    display: inline-block;
    padding: 20px;
    position: relative;
    transition: all .5s;
    cursor: pointer;
}
a {
    display: block;
    text-decoration: none;
    color: white;
}
/* .sub-items {
    display: none;
    position: absolute;
} */
li:hover .children {
    display: block;
    position: absolute;
    width: 100px;
}
.children li {
    display: block;
    background-color: rgb(239,82,42);
    color: white;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid rgb(255,255,255,.5);
}
li .children {
    display: none;
    position: absolute;
    top: 101%;
}
section {
    margin-top: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.logo {
    float: left;
    margin-right: 20px;
}
  
.cuerpo {
    overflow: hidden;
}
.caja {
    float: left;
    width: 380px;
    margin: 34px;
    grid-area: caja;
}
.subtitulo {
    background: rgb(45, 42, 239);
}
.servicios {
    color: white;
    text-align: center;
    padding: 15px 0;
}
.efecto {
    opacity: 0.8;
    cursor: pointer;
}
.contenido {
    padding: 15px;
    text-align: justify;
}
h1 {
    text-align: center;
    font-family: 'Allan', cursive;
    font-family: 'Zen Antique Soft', serif;
}
.boton {
    padding: 12px 20px;
    margin: 12px 0;
    border-radius: 5px;
    background: rgb(18, 66, 129);
    color: white;
}
.boton:hover {
    background: rgb(15, 53, 104);
    cursor: pointer;
}
.servicios {
    font-family: 'Allan', cursive;
    font-family: 'Zen Antique Soft', serif;
}