* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.encabezado, .nav-bar, .img-principal {
    color: white;
    font-size: 1.8em;
    display: flex;
    justify-content: center;border-radius: 8px;
}
.main-container {
    display: grid;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    gap: 20px;
    grid-template: "encabezado         nav-bar         nav-bar"        100px
                   "img-principal      img-principal   img-principal"  350px
                   "card-1             card-2          card-3"         auto
                   "card-4             card-5          card-6"         auto /
                   1fr               1fr               1fr;                 
}
.encabezado {
    margin-top: 50px;
    background: rgb(51, 76, 255);
    grid-area: encabezado;
}
.nav-bar {
    margin-top: 50px;
    background: goldenrod;
    grid-area: nav-bar;
}
.img-principal {
    background: green;
    grid-area: img-principal;
}
.cards {
    display: flex;
    flex-direction: column;
}
.card-1 {
    grid-area: card-1;
}
.card-2 {
    grid-area: card-3;
}
.card-3 {
    grid-area: card-3;
}
.card-4 {
    grid-area: card-4;
}
.card-5 {
    grid-area: card-5;
}
.card-6 {
    grid-area: card-6;
}
.img-card {
    background: rgb(255, 51, 51);
    max-width: 100%;
}
.text-card {
    color: black;
}
@media (max-width: 968px) {
    .main-container {
    
    grid-template: "encabezado     nav-bar"        100px
                   "img-principal  img-principal"  350px
                   "card-1         card-2"         auto
                   "card-3 m       card-4"         auto
                   "card-5         card-6"         auto /
                   1fr             1fr;
    justify-items: stretch;
    }
}
@media (max-width: 600px) {
    .main-container {
        width: 90%;
        grid-template: "encabezado"          100px
                    "nav-bar"                 100px
                   "img-principal"   350px
                   "card-1"          auto
                   "card-2"          auto
                   "card-3"          auto
                   "card-4"          auto
                   "card-5"          auto
                   "card-6"          auto /
                    1fr;
    justify-items: stretch;
    }
}