*{
    padding: 0;
    margin: 0;
}
.navbar,.navbar-light,.bg-light {
    /*width: 1250px;*/
    background-color: rgb(241, 196, 15);
    margin-right: -135px;
    margin-left: -135px;
    
}
.container-fluid-2 {
    background: rgb(241, 196, 15);
    height: 100px;
    width: 600px;
    margin-right: -125px;
    margin-left: -135px;
    /*border: 5px solid crimson ;*/
}
a, ul {
    text-decoration: none;
}
.container-fluid {
    background: yellow;

}
.form-control.me-2 {
    margin-left: 753px;
}