h1 {
    font-family: 'Courier New', Courier, monospace;
}

span.titulo-lista {
    font-weight: 900;
    font-size: 1.2em;
}
p {
    font-size: 3em;
}
.color-marron {
    color: maroon;
}
.color-movistar {
    color: rgb(0,0,255);
}
.color-yellow {
    color: #ff0;
}
.color-paypal {
    color: rgb(0,122,186);
}
.color-avantel {
    color: rgb(235,2,139);
}
.espaciado-letras {
    letter-spacing: 0.1em;
}
.espaciado-palabras {
    word-spacing: 0.6em;
}
.espaciado-lineas {
    line-height: 2em;
}
/* cinzel-decorative-regular - latin */
body {
    font-size: 1em;
}

